{% extends 'doctor/drindex.html' %}
{% block body %}
{#<div align="center">#}
{##}
{#  <h3>WELCOME</h3>#}
{#</div>#}
{#<form id="form1" name="form1" method="post">#}
{#<table width="200" border="1">#}
{#  <tbody>#}
{#    <tr>#}
{#    <td><a href="/drview_patient">View patient</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#    <td><a href="/addprescription">prescription add</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#    <td><a href="/drview_prescription">prescription view</a>#}
{#    </td>#}
{#    </tr>#}
{#<!--    <tr>#}
{#    <td><a href="/teacher_view_exam">View book</a></td>#}
{#    </tr>-->#}
{##}
{#    <tr>#}
{#      <td>#}
{#      <a href="/">Logout</a></td>#}
{#    </tr>#}
{#  </tbody>#}
{#</table>#}
{#   </form>#}
{% endblock %}
