{% extends 'admin_temp\pages\examples\adminindex.html' %}
{% block body %}

<section class="content">
    <div class="widget3">
        <table class="example">
          <thead>
              <tr>
                  
                <th >Department_ID</th>
                  <th >Department</th>
                  
                  <!-- Add more column headers as needed -->
              </tr>
          </thead>
          <tbody>
              
              {% for item in doc %}
              <tr>
                <td>{{ item.id }}</td>
                  <td>{{ item.dname }}</td>
                  
                  
                  <!-- Add more table cells as needed -->
              </tr>
              
              {% endfor %}
              <tr><td><a href="{% url 'add_dept' %}" class="btn btn-primary">New Item</a> </td></tr>
              
          </tbody>
        </table>
    </div>     
</section>
{% endblock %}